includes:
	- phpstan-baseline.neon

parameters:
	level: 8
	paths:
		- Classes
	ignoreErrors:
			- identifier: missingType.iterableValue
	strictRules:
		booleansInConditions: false
		booleansInLoopConditions: false
